@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer base {
  .dark {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.prose strong {
  @apply text-black dark:text-white font-semibold;
}

.prose ul {
  @apply space-y-2;
}

.prose li {
  @apply text-gray-700 dark:text-gray-300;
}